:root {
  --primary-color: #fde500;
  --secondary-color: #0064fd;
}

body {
  background: white;
  font-family: 'Circular Std';
}

* {
  outline: none !important;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
}
